@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch+Pop&display=swap');

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparant-div{
  background-color: #D0A2E0;
}

.tittle-head{
  padding:5px 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 7vh;
}

.square{
  background-color: #D0A2E0;
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.square-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.move-detection{
  display: flex;
  justify-content: space-between;
}

.left, .right{
  background-color: #D0A2E0;
  width: 110px;
  height: 35px;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
}

.left{
  border-radius: 5px;
  border-top-right-radius: 20px;
}

.right{
  border-radius: 5px;
  border-top-left-radius: 20px;
}

